<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Root>
    <Http>
        <Apis/>
    </Http>
    <MQTT>
        <MQTTClients>
            <MQTTClient BrokerHostname="127.0.0.1" BrokerPort="1883" ClientHostname="127.0.0.1" ClientPort="40000">
                <Topic>ijioj</Topic>
            </MQTTClient>
        </MQTTClients>
    </MQTT>
</Root>
